<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31"
        >
        <activity
            android:name=".view.PageChild.HomeDetailUserActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.HomeUpdateInfoActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.HomeFindLoveActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.UserSecurityActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.UserInfoActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.UserUpdateActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageAuthen.ForgotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageAuthen.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageAuthen.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageMain.UserActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageMain.StoryActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageMain.MessageActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageMain.CalendarActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageChild.CalendarAddScheduleActivityPage"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.PageMain.HomeActivityPage"
            android:exported="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.system_service.ForeGroundService" />
    </application>

</manifest>